# 데이터 전처리(Preprocessing)

### 데이터 인코딩

In [1]:
from sklearn.preprocessing import LabelEncoder
items = ['TV','냉장고','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']

In [2]:
# 레이블 인코딩
# LabelEncoder를 객체로 생성한 후, fit( )과 transform( )으로 label 인코딩 수행
encoder = LabelEncoder()
encoder.fit(items)
labels = encoder.transform(items) #결과를 인코더를 트래스 폼
labels

array([0, 1, 4, 5, 3, 3, 2, 2], dtype=int64)

In [3]:
labels = encoder.fit_transform(items) # 한방에 같이
labels

array([0, 1, 4, 5, 3, 3, 2, 2], dtype=int64)

In [4]:
# 인코더는 결과를 낼수 잇다
# 내가 인코딩 한 값이 뭔지 알려줌
encoder.classes_

array(['TV', '냉장고', '믹서', '선풍기', '전자렌지', '컴퓨터'], dtype='<U4')

In [5]:
encoder.inverse_transform([4, 5, 2, 0, 1, 1, 3, 3])

array(['전자렌지', '컴퓨터', '믹서', 'TV', '냉장고', '냉장고', '선풍기', '선풍기'], dtype='<U4')

In [6]:
def get_name(model, num):
    return model.inverse_transform([num])[0]

In [7]:
get_name(encoder, 3)

'선풍기'

### 원 핫 인코딩(One-hot encoding)

In [8]:
from sklearn.preprocessing import OneHotEncoder
items = ['TV','냉장고','전자렌지','컴퓨터','선풍기','선풍기','믹서','믹서']

In [9]:
# 먼저 숫자값으로 변환을 위해 LabelEncoder로 변환 
encoder = LabelEncoder() 
labels = encoder.fit_transform(items) 
labels.shape

(8,)

In [10]:
labels= labels.reshape(-1, 1)
labels.shape

(8, 1)

In [11]:
labels

array([[0],
       [1],
       [4],
       [5],
       [3],
       [3],
       [2],
       [2]], dtype=int64)

In [12]:
# 원-핫 인코딩을 적용 
oh_encoder = OneHotEncoder() 
oh_encoder.fit(labels) 
oh_labels = oh_encoder.transform(labels) 
print('원-핫 인코딩 데이터')
print(oh_labels.toarray())
print('원-핫 인코딩 데이터 차원')
print(oh_labels.shape)

원-핫 인코딩 데이터
[[1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0.]
 [0. 0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0. 0.]
 [0. 0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0. 0.]]
원-핫 인코딩 데이터 차원
(8, 6)

In [13]:
labels = LabelEncoder().fit_transform(items).reshape(-1,1)
one_hot_labels = OneHotEncoder().fit_transform(labels)
one_hot_labels.toarray()

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.]])

In [14]:
import pandas as pd
df = pd.DataFrame({'items': items})
df

  items
0    TV
1   냉장고
2  전자렌지
3   컴퓨터
4   선풍기
5   선풍기
6    믹서
7    믹서

In [15]:
pd.get_dummies(df) # get_dummies을 쓰면 원핫 인코딩이 됨

   items_TV  items_냉장고  items_믹서  items_선풍기  items_전자렌지  items_컴퓨터
0         1          0         0          0           0          0
1         0          1         0          0           0          0
2         0          0         0          0           1          0
3         0          0         0          0           0          1
4         0          0         0          1           0          0
5         0          0         0          1           0          0
6         0          0         1          0           0          0
7         0          0         1          0           0          0

### Feature Scaling(피쳐 스케일링) and Normalization(정규화)

In [16]:
from sklearn.datasets import load_iris
# 붓꽃 데이터 셋을 로딩하고 DataFrame으로 변환 
iris = load_iris()
iris_data = iris.data
iris_df = pd.DataFrame(data=iris_data, columns=iris.feature_names)

print('feature 들의 평균 값')
print(iris_df.mean())
print('\nfeature 들의 표준편차 값')
print(iris_df.std())

feature 들의 평균 값
sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

feature 들의 표준편차 값
sepal length (cm)    0.828066
sepal width (cm)     0.435866
petal length (cm)    1.765298
petal width (cm)     0.762238
dtype: float64

#### 1) Standard Scaler

In [17]:
from sklearn.preprocessing import StandardScaler

# StandardScaler 객체 생성
scaler = StandardScaler() 
# StandardScaler 로 데이터 셋 변환. fit( ) 과 transform( ) 호출
scaler.fit(iris_df)
iris_scaled = scaler.transform(iris_df)

In [18]:
type(iris_scaled)

numpy.ndarray

In [19]:
iris_scaled[:5, :]

array([[-0.90068117,  1.01900435, -1.34022653, -1.3154443 ],
       [-1.14301691, -0.13197948, -1.34022653, -1.3154443 ],
       [-1.38535265,  0.32841405, -1.39706395, -1.3154443 ],
       [-1.50652052,  0.09821729, -1.2833891 , -1.3154443 ],
       [-1.02184904,  1.24920112, -1.34022653, -1.3154443 ]])

In [20]:
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
print('feature 들의 평균 값') 
print(iris_df_scaled.mean()) 
print('feature 들의 표준편차 값') 
print(iris_df_scaled.std())
# 평균값이 값이 0
# 표준편차는 1
# 즉 평균값이 0으로 표준 편차는 1로 바껴있다는 것

feature 들의 평균 값
sepal length (cm)   -1.690315e-15
sepal width (cm)    -1.842970e-15
petal length (cm)   -1.698641e-15
petal width (cm)    -1.409243e-15
dtype: float64
feature 들의 표준편차 값
sepal length (cm)    1.00335
sepal width (cm)     1.00335
petal length (cm)    1.00335
petal width (cm)     1.00335
dtype: float64

### 2) Min Max Scaler

In [21]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
iris_scaled = scaler.fit_transform(iris_df)

In [22]:
iris_scaled[:5, :] # 0~1 사이의 값

array([[0.22222222, 0.625     , 0.06779661, 0.04166667],
       [0.16666667, 0.41666667, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.05084746, 0.04166667],
       [0.08333333, 0.45833333, 0.08474576, 0.04166667],
       [0.19444444, 0.66666667, 0.06779661, 0.04166667]])

In [23]:
iris_df_scaled = pd.DataFrame(data=iris_scaled, columns=iris.feature_names)
print('feature 들의 평균 값') 
print(iris_df_scaled.mean()) 
print('\nfeature 들의 표준편차 값') 
print(iris_df_scaled.std())

feature 들의 평균 값
sepal length (cm)    0.428704
sepal width (cm)     0.440556
petal length (cm)    0.467458
petal width (cm)     0.458056
dtype: float64

feature 들의 표준편차 값
sepal length (cm)    0.230018
sepal width (cm)     0.181611
petal length (cm)    0.299203
petal width (cm)     0.317599
dtype: float64